<ul>
    <li><a href="#Introduction">Introduction</a></li>
    <li><a href="#phpmetrics">PHP Metrics</a></li>
    <li><a href="#scrutinizer">Scrutinizer</a></li>
    <li><a href="#improvements">Improvements</a></li>
    <li><a href="#discussion">Discussion</a></li>
</ul>