{% extends "baseproj.html.twig" %}

{% block title %}Blackjack{% endblock %}

{% block body %}
    <div class="blackjack">
        <h1>Blackjack project</h1>
        <div class="container">
            <div class="main blackjack">
                <h3>About</h3>
                <p>This is the final Symfony project for the MVC course at Blekinge Tekniska Högskola. The aim is to create a working application using the Symfony framework.</p>
                <p>The project also involves unit tests and using static analysis tools such as PhpMetrics and Scrutinizer to challenge students to create testable code.</p>
                <p>Finally the project is created using the Git version control system, with the ambition to create a realistic project environment that the students are likely to meet when working in the industry.</p>
                <p>I've chosen to extend some of my application classes for this project to create a Blackjack game, where the user is met with a Casino-like setup. However, given a short amount of time, the card design is rudimentary at best. Instead, I've focused on creating a clean and logical GUI and testable code.</p>
            </div>
        </div>
    </div>
{% endblock %}