{% extends "baseproj.html.twig" %}

{% block title %}Blackjack{% endblock %}

{% block body %}
<div class="blackjack">
<h1>Blackjack project</h1>
<div class="container">
<div class="aside">
    <ul>
        <li><a href="{{ path('doc') }}">Play a game of Blackjack</a></li>
    </ul>
</div>
<div class="main">
    <pre>{{ hello }}</pre>
    {{ include('proj/rules.html.twig') }}
    
    <div class="btn-grad"><a href="{{ url('init_blackjack_get') }}">Start Blackjack</a></div>
    
</div>
</div>
</div>
{% endblock %}