
    <h3>Rules</h3>
    <ol>
        <li><pre>Draw cards and try to get a sum of 21.</pre></li>
        <li><pre>If the sum is larger than 21, you lose.</pre></li>
        <li><pre>If the bank is equal to or larger than your sum, you lose.</pre></li>
    </ol>