
        
            <ul>
                <li><a href="{{ path('show_all_cards') }}">Show all cards</a></li>
                <li><a href="{{ path('draw_card') }}">Draw one card</a></li>
                <li><a href="{{ path('draw_card') }}/1">Draw many cards</a></li>
                <li><a href="{{ path('shuffle_deck') }}">Shuffle deck</a></li>
            </ul>

        