{% extends "base.html.twig" %}

{% block title %}Card game{% endblock %}

{% block body %}
<div class="card">
<h1>Card game</h1>
<div class="container">
<div class="aside"></div>
<div class="main card">
    <pre>There will be four classes; card, cardgraphic, deck and hand.</pre>
    <pre>Card will be the base class, where CardGraphic will extend this base class for a graphic representation</pre>
    <pre>Deck and Hand will be compositions of the class Card or CardGraphic.</pre>
    <p><img src="{{ asset('img/UML_MVC_KMOM02_CARD.png') }}" alt="UML_MVC_KMOM02_CARD.png"></p>
    <a href="{{ path('init_card') }}">Click here to start!</a>
</div>
</div>
</div>
{% endblock %}