{% extends "base.html.twig" %}

{% block title %}Game 21 Documentation{% endblock %}

{% block body %}
<div class="21">
<h1>Game 21</h1>
<div class="container">
<div class="aside"></div>
<div class="main 21">
    <pre>{{ hello }}</pre>
    <h3>Documentation</h3>
    <ol>
        <li><pre>Here lies the documentation for Game 21.</pre></li>
    </ol>
</div>
</div>
</div>
{% endblock %}