{% extends "base.html.twig" %}

{% block title %}Game 21 Documentation{% endblock %}

{% block body %}
<div class="21">
<h1>Game 21</h1>
<div class="container">
<div class="aside"></div>
<div class="main 21">
    <pre>{{ hello }}</pre>
    <h3>Documentation</h3>
    <p>Below is a flowchart depicting how I want to implement the game.</p>
    <p><img src="{{ asset('img/21_game_flowchart.drawio.png') }}" alt="Game 21 Flowchart"></p>
    
</div>
</div>
</div>
{% endblock %}