{% extends "base.html.twig" %}

{% block title %}Pig Game{% endblock %}

{% block body %}
<div class="pig">
<h1>Pig game</h1>
<div class="container">
<div class="aside"></div>
<div class="main pig">

<p>This is a classical dice game called "Pig" where you roll a 
set of dices to try and reach 100 points. You can read more on 
the <a href="https://en.wikipedia.org/wiki/Pig_(dice_game)"> 
basics of the game on Wikipedia</a>.</p>
</div>
</div>
</div>
{% endblock %}