@import url('https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro');

body {
    margin: 0 auto;
    max-width: 1200px;
    background-color: rgb(238, 242, 243);
    font-family: 'Merriweather', sans-serif;
    
}

header {
    background: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    border-bottom: 4px double #ccc;
}

header {
    height: 200px;
    width: 100%
}

.aside {
    float: left;
    width: 25%;
    border-right: 2px solid black;
}

.main {
    float: left;
    width: 75%;
    margin-left: 30px;
}

.main p {
    width: 80%;
}

img {
    max-height: 250px;
}

.container {
    display: flex;
}

nav li {
    display: inline;
    margin: 10px;
}

li {
    margin: 10px;
}

.pig body {
    margin: 0 auto;
    max-width: 800px;
    background-color: #eee;
    font-size: 2em;
}

.pig input {
    font-size: 1em;
}

.pig h1 {
    border-bottom: 4px double green;
    text-align: center;
}

.pig .main {
    width: 50%;
}

.die {
    font-size: 2em;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    max-width: fit-content;
}
.flash-notice.win {
    padding: 0.5em;
    color: #f0f2f5;
    background-color: #1c7e26;
    border-color: #b8daff;
    max-width: fit-content;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}
.flash-alert {
    padding: 0.5em;
    color: #f8efef;
    background-color: #dd1111;
    border-color: #b8daff;
    max-width: fit-content;
}
.flash-alert:before {
    content: "ⓘ";
}

.card li {
    display: inline;
}

.card .aside li {
    display: block;
}

.api th, td {
    padding: 15px;
}

.api th {
    font-size: larger;
}

input.card {
    border-radius: 2px;
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    transition: 0.5s;
    text-align: center;
    text-transform: uppercase;
}

form.api_form,
form.game_form {
    display: inline-block;
    margin-inline-end: 1.0em;
}

.btn-grad {
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    width: fit-content;
  }

  .btn-grad a {
    text-decoration: none;
    font-weight: bolder;
    color: white;    
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
  .game pre {
    display: inline;
    margin-right: 5px;
    font-size: 1.4rem;
  }

  .button.green {
    background-image: linear-gradient(to right, #315538 0%, #26da41  51%, #315534  100%);
    color: white;            
  }

  .button.blue {
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    color: white;            
  }

  .button.red {
    background-image: linear-gradient(to right, #553131 0%, #da2626  51%, #553131  100%);
    color: white;            
  }

  .button {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: inline;
    width: fit-content;
  }
