{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Välkommen!</h1>
    <p>Jag heter Alf Tore Pettersson, och jag är en trött småbarnsförälder som hunnit fylla 37 år och arbetar heltid som gymnasielärare i matematik och fysik på en gymnasieskola i Stockholm.</p>
    <p>Jag har tidigare läst masterprogrammet i teoretisk fysik vid Stockholms universitet samt avlagt lärarexamen vid samma lärosäte.</p>
    <p>Jag har en sambo och en dotter som nyss fyllt 2 år, och vi bor i ett radhus i Stockholm.</p>
    <img src="{{ asset('img/lilla_jag.png') }}" alt="lillajag">
    <p>Jag började intressera mig för datorteknik och programmering som 12-åring, och läste matte/data-inriktningen på naturprogrammet när jag gick i gymnasiet. </p>
    <p>I mina studier och i mitt arbete har jag alltid kunnat använda mig av programmering för att lösa problem.</p>
    <p>Jag har t ex skrivit bägge mina examensarbeten med programmering som hjälpmedel, (MatLAB, C och Python).</p>
    <p>Jag har även utvecklat ett bedömningsstöd för gymnasieskolan med Python kopplat till Googles API.</p>
    <p>Jag har även varit verksam inom IT som QA på Blockets IT-avdelning. Jag har tidigare erfarenheter av C++, C, Java, Python m.m.</p>
{% endblock %}