{% extends "base.html.twig" %}

{% block title %}Library{% endblock %}

{% block body %}
<div class="library">
    <h1>Library</h1>
    <div class="container">
        <div class="aside">
        
        </div>
            
        <div class="main library">
            

            

            <form method="post" action="{{ path('library_create_post') }}" class="lib_form">
                <label for="title">Title</label>
                <input type="text" name="title" id="title"></input>
                <label for="isbn">isbn</label>
                <input type="number" name="isbn" id="isbn"></input>
                <label for="author">author</label>
                <input type="text" name="author" id="author"></input>
                <label for="img">img</label>
                <input type="text" name="img" id="img"></input>
                
                
                <button class="button green" type="submit" name="book_create" id="book_create" value="book_create">Draw a book</button>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}